/* h1.linear-gradient {
    background: -webkit-linear-gradient(
      90deg,
      rgb(245, 245, 248) 0%,
      rgb(183, 183, 207) 21%,
      rgb(30, 111, 197) 51%,
      rgb(18, 19, 18) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: max-content;
    display: flex;
    justify-content: center;
    width: 100%;
  } */


  h1.linear-gradient {
    background: -webkit-linear-gradient(
      90deg,
      rgb(245, 245, 248) 0%,
      rgb(183, 183, 207) 21%,
      rgb(22, 23, 24) 51%,
      rgb(18, 19, 18) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: max-content;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  h1.linear-gradient-footer {
    background: -webkit-linear-gradient(
      90deg,
      rgb(255, 255, 255) 0%,
      rgb(183, 183, 207) 21%,
      rgb(175, 202, 231) 51%,
      rgb(10, 10, 10) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: max-content;
    display: flex;
    justify-content: center;
    width: 100%;
  }


  
  